@using Microsoft.AspNetCore.Identity
@using WebsiteBanHang.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-3">
            <a class="nav-link position-relative" href="#">
                <i class="fas fa-shopping-cart fa-lg"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle me-1"></i>
                <span>@UserManager.GetUserName(User)</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                <li>
                    <a class="dropdown-item py-2" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user me-2 text-primary"></i>Tài khoản
                    </a>
                </li>
                <li>
                    <a class="dropdown-item py-2" href="#">
                        <i class="fas fa-shopping-bag me-2 text-primary"></i>Đơn hàng
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item py-2 text-danger" asp-area="Identity" asp-page="/Account/Logout">
                        <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus me-1"></i>Đăng ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt me-1"></i>Đăng nhập
            </a>
        </li>
    }
</ul>
